main {
  text-align: center;
}

img {
  width: 300px;
  align-content: center;
  padding-top: 10rem;
  margin-bottom: 2rem;
}
section {
  display: flex;
  flex-direction: column;
}

button {
  border: 0px solid #5f6368;
  background-color: #3f4347;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
}

.search-bar {
  width: 450px;
  border: 0;
  outline: none;
}

.primary {
  background-color: #202124;
  color: white;
}

.search-div {
  display: flex;
  justify-content: center;
  width: 500px;
  border: 2px solid #5f6368;
  height: 30px;
  border-radius: 50px;
  padding: 10px 0;
}

.form-div {
  display: flex;
  justify-content: center;
}
